#footer{
    padding: 35px 0px 35px 0px;
    background-color: #e0e0e0;
    margin-top: 2025px;
}
#footer-container{
    width: 90%;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: space-evenly;
}
#footer-box{
    line-height: 30px;
    display: flex;
    flex-direction: column;
    padding: 0 40px;
}
#footer-box li{
    list-style: none;
}
a:hover {
    color: black;
  }
#icons{
    list-style-type: none;
    line-height: 30px;
    margin-left: 50px;
}

